html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-family: "Darker Grotesque", sans-serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Default size (up to 768px) */
.title {
  font-family: "Suez One", serif;
  font-size: 1rem;
  padding-left: 8vw;
  padding-top: 2vh;
  width: 100%;
  height: 25vh;
}
.countries-display {
  display: flex;
  justify-content: space-around;
  width: 95vw;
  margin-top: 10px;
}
.country-select {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1rem;
  text-align: left;
  border: 4px solid black;
  background-color: white;
  width: 20vw;
  height: 20vw;
  display: flex;
  align-items: flex-start;
}

.quickselect {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.countries-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  margin-top: 2rem;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 2rem;
  background-color: white;
}

.country-label {
  margin-bottom: 1rem;
}

.search-button {
  border: 4px solid black;
  background-color: white;
  margin-top: 1.5rem;
}
.country-text {
  font-size: 1.3rem;
}

h2 {
  padding-top: 20px;
  font-family: "Suez One", serif;
  font-size: 1.5rem;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  font-size: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
}

.search-button:hover {
  border: 4px solid white;
  background-color: black;
  color: white;
  font-weight: 700;
}

.dropdown {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  background-color: white;
  font-size: 1.5rem;
  width: 95%;
  padding: 0.5rem 0;
}

.country-select {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  border: 4px solid black;
  width: 20vw;
  height: 20vw;
  background-color: whitesmoke;
}

.country-select:hover {
  border: 4px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  cursor: pointer;
}

.full-country-name {
  font-size: 1rem;
}

/* Larger size (over 768px) */
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }

  .country-label {
    padding-right: 1.5rem;
  }

  .search-button {
    margin-left: 1rem;
  }

  .country-text {
    font-size: 3rem;
  }

  .title {
    font-size: 1.9rem;
    margin-bottom: 3rem;
  }

  .country-select {
    width: 10vw;
    height: 10vw;
  }

  .countries-display {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin-top: 10px;
  }

  .dropdown {
    font-size: 2rem;
    width: 50%;
    padding: 0.5rem 0;
  }

  .country-label {
    margin: 0;
    padding: 0.5rem 2rem;
  }

  #searchbutton {
    margin: 0;
  }
}
